---
layout: default
title: myTitle
---

<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{%- if page.title -%}
		<title>{{ page.title }}</title>
	{%- endif -%}
	<link rel="stylesheet" href="../assets/css/main.css" type="text/css">
  <!--<script src="js/mobile.js" type="text/javascript"></script>-->

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="page">
		<div id="body" class="home">
			<div class="header">
			</div>
			<div class="body">
				<div>
					<div class="container-fluid">
						{%- if page.pageHeader -%}
							<h1 class="text-info text-center">{{ page.pageHeader }}</h1>
            {%- endif -%}
            <p>{{content}}</p>
				</div>
			</div>
		</div>
		<div id="footer">
      {%- if page.footerImg -%}
        <img src={{page.footerImg}} alt="Failed to load footer" class="img-responsive"></img>
      {%- endif -%}
		</div>
	</div>
</body>
</html>
